body {

  background-color: $colorFondo;
  font-family: $tipoLetra ;
  text-align: center;
  

  h1 {
    font-size: 32px;
    margin: 0%;
    font-weight: bold;
    color:white;
  }
  p{
    font-family: $tipoLetra;
    color:white;
  }

}

