body {

  background-color: #51c878;
  font-family: 'Manjari', sans-serif;
  text-align: center;
  color: #000000;

  h1 {
    font-size: 32px;
    margin: 0%;
    font-weight: bold;
  }

}

.fotos {
  height: 50%;
  width: 50%;
}