/* MEDIA QUERIES */
/*aplicando responsive para pantallas de 768px*/
@media screen and (max-width: 768px) {
    .header {
        text-align: center;
    }
    .contenedor .content {
        grid-column: 1 / -1;
    }
    .contenedor .sidebar {
        grid-column: 1 / 6;
    }

    .contenedor .contenedorTestimonio {
        grid-column: 1/-1;
    }
}



@media (max-width:800px){
    .column{
        flex:50%;
    }
}



@media (max-width:600px){
    .column{
        flex:100%;
    }
}


@media (max-width:600px){
    .contenedorNosotros{
        flex:100%;
    }
}